body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    background-image: url('Your Name.jpeg'); /* Add this line */
    background-size: cover; /* Ensure the background covers the entire area */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
}

.player {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background for readability */
    padding: 20px;
    border-radius: 10px;
}

#lyrics {
    height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 20px;
    background-color: transparent;
    border-radius: 5px;
}

#lyrics p {
    margin: 5px 0;
}

.active {
    color: blue;
